body{
    background-color: rgb(15, 15, 63);
}
.jumbotron{
    height: 80px;
    background-color: rgb(27, 15, 15);
}
.navbar ul{
    float: right;
}
.navbar ul li{
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
}
.container{
    width: 80%;
    margin: 0 auto;
    height: 1200px;
    background-color:grey;
}
.container img{
    width: 100%;
    margin: 0 auto;
    height: 400px;
}
.container p {
    padding: 10px;
    font-size: large;
}
.container form{
    margin: 0 auto;
    width: 70%;
}